<ion-header mode="md">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Forgot your password</ion-title>
        <ion-button mode="md" class="btn-back" (click)="page_login()" fill="outline">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
        <ion-button mode="md" class="btn-dismiss" (click)="dismissForm()" fill="outline">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="skerlingo-padding">
        <form [formGroup]="passwordForm">

            <div *ngIf="stepView == 'first'">
                <h1>Are you sure want to delete this account?</h1>
                <div>
                    <ion-button  (click)="onClickYes()" >
                        Yes
                    </ion-button>
                    <ion-button  (click)="ondissmiss()" >
                        No
                    </ion-button>
                </div>
                <!-- <h1>Forgot your password ?
                </h1>
                <p>Enter your email and we will send you a link to reset your
                    password!
                </p>
                <ion-list class="ion-list-form">
                    <ion-item lines="none">
                        <ion-label mode="md" position="floating">Email</ion-label>
                        <ion-input [ngClass]="{'input-error': errors.includes('email') }" formControlName="email"
                            type="email">
                        </ion-input>
                    </ion-item>
                </ion-list>

                <ion-button mode="md" (click)="onSignIn()" class="btn-default">
                    reset
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-button> -->
            </div>
            <div *ngIf="stepView == 'success'">
                <div class="no-data success-data">
                    <div>
                        <h3>Feel free to send an email to <a (click)="copyMail()">fathioussama@gmail.com</a> to request the deletion of your account.</h3>
                        <ion-button (click)="ondissmiss()" >
                            Done
                        </ion-button>
                        <!-- <img src="assets/icon/success-register.svg" alt="">
                        <h5>Link sent !</h5>
                        <p>{{ message }}</p>
                        <ion-button mode="md" (click)="open_gmail()">
                            See my email
                        </ion-button> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</ion-content>